.checkbox {
    display: inline-flex;
    cursor: pointer;
}

.checkbox > span {
   
    padding: 0.5rem 0.25rem;
}



.checkbox > input:checked {
    border: 1px solid black;
    background-color: #fff;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-weight: 500;
    color: #000;
    padding: auto;
    position: absolute;
    left: 2px;
    top: 0;
}

.checkbox > input:active {
    border: 1px solid #000;
}